.dialog {
  max-width: 350px;
  height: 360px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;

}

.genderContainer {
  margin-bottom: 15px;
}