.dialog {
  width: 450px;
  height: 460px;

}

@media only screen and (max-width: 600px) {
  .dialog {
    width: 300px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;

}

.genderContainer {
  margin-bottom: 15px;
}