.header {
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#patientsTable {
    margin: 10px;
    width: 100%;
}

.space {
    flex: 1;
}