<div *ngIf="loaded" class="column">

	<div *ngIf="dataSource.data.length<=0">
		Please start by importing patient data using the button below.
		<br>
	</div>

	<div class="container">

		<div class="toolbar">

			<mat-form-field *ngIf="dataSource.data.length>0" class="filter">
				<input matInput type="text" placeholder="No filter" [(ngModel)]="searchValue" (keyup)="applyFilter()"
					#filter>
				<button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
					(click)="searchValue=''; applyFilter()">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>

			<div class="space"></div>

			<app-file-import (afterImport)="getdata()"></app-file-import>

		</div>

		<div class="mat-elevation-z8 table" *ngIf="dataSource.data.length>0">
			<mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="firstName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> First </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="lastName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Last </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="gender">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="dob">
					<mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.dob | date:'shortDate'}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="edit">
					<mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button mat-icon-button (click)="edit(element)">
							<mat-icon>edit</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="delete">
					<mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell mat-cell *matCellDef="let element">
						<button mat-icon-button (click)="delete(element)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></mat-row>
			</mat-table>

		</div>

	</div>

</div>