.toolbar {
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;   
}


.startermessage {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  
}


@media only screen and (max-width: 600px) {
    .filter {
      width: 150px;
    }
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 95%;
    }
  }

.table {
   margin-bottom: 50px;
}

.space {
    flex: 1;
}

